@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$darkest-bg-color: #222222;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.mainHeader {
  background-color: #35342f;
  color: white;
  width: 100%;
  position: fixed;
  opacity: 0.8;
}
.main-app-container {
  padding-top: 5em;
}

.complaintDetailsHolder {
  width: 800px;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;
  }
}


a {
  color: #00B7FF;
}

h2 {
  font-size: 1.5em;
  -webkit-margin-after: 0.3em;
}

footer {
  width: 100%;
  background-color: 0x907777;
  height: 30px;
}

.header {
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.content {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.stateDetails {
  border: 1px solid #888888;
  border-radius: 8px;
  padding: 8px;
  margin-top: 10px;
}

.statesTable
{
  font-family: Tahoma, 'sans serif';
  font-size: 16px;
  border-collapse:collapse;
}

.statesTable td, th
{
  border: 1px solid #999999;
  padding: 3px 3px 3px 3px;
  text-align: right;
  font-size: 14px
}

.statesTable td
{
  width: 100px;
  cursor: pointer;
}

.statesTable tr:hover {
  background-color: #bbbbbb;
}

.clickableHeader {
  background-color: $darkest-bg-color;
  color: #ffffff;
  cursor: pointer;
}

.selectedClickableHeader {
  background-color: #666666;
  color: #ffffff;
  cursor: pointer;
}

.noClickHeader {
  background-color: $main-bg-color;
}

#productComplaintsTable {
  width: 500px;
}

#stateDetailsTable {
  width: 100%;
}

.dateSelect {
  width: 80px;
  font-size: 16px;
}

.detailsBanner {
  margin-top: 20px;
}

.stateTitle {
  font-size: 24px;
  color: cadetblue;
  font-weight: bold;
}

.stateSubTitle {
  font-size: 16px;
}

.detailsBanner {
  padding-top: 4px;
  margin-bottom: 10px;
  border-top: 4px solid #bbbbbb;
  width: 100%;
}

.tableTopHeader {
  font-size: 18px;
  font-weight: bold;
}

.underTableInstructions {
  font-size: 14px;
  font-weight: bold;
  color: #662222;
}

.popPieChartHolder {
  margin-left: 40px;
}

.sectionCloseButton {
  float: right;
  border: 1px solid black;
  padding: 3px;
  background-color: #ddddcc;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}
