<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
<% include pageHeader %>
<% if (items.length > 0) { %>
<ul><%
for (var item of items) {
  %><li><%= item.key %>:
  <a href="/items/view?key=<%= item.key %>"><%= item.title %></a>
  </li><%
}
%></ul>
<% } %>
<% include footer %>
</body>
</html>
