<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Census and Complaints</title>
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/react/react.js"></script>
        <script src="/javascripts/react/react-dom.js"></script>
        <script src="/javascripts/react/browser.js"></script>

        <script src="/javascripts/presentation/ApiUtils.js"></script>

    </head>

    <body>
        <div id="dynamic_page">
        </div>

        <div id="app">
        </div>

        <div id="main">
            <a href="http://localhost:3000/api/states">List of all states and state codes</a><br/>
            <a href="http://localhost:3000/api/census/topstates?year=2016&month=5&field=births&limit=3">Top states for births</a><br/>
            <a href="http://localhost:3000/api/complaints/states?year=2015&month=7&months=12&product=Payday+loan">Top ten states with Payday Loan Complaints</a><br/>
            <a href="http://localhost:3000/api/complaints/states?year=2015&month=7&months=12&company=Bank+of+America">Top ten states with Bank of America Complaints</a><br/>
            <a href="http://localhost:3000/api/complaints/products?year=2013&month=1&months=50&limit=10">Products with most complaints nationwide</a><br/>
        </div>

        <script type="text/babel" src="/javascripts/presentation/ui.js"/>


    </body>
</html>