<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Census and Complaints</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="root">
            <!-- This div's content will be managed by React. -->
        </div>

        <div id="main">
            <a href="http://localhost:3000/api/census/topstates?year=2016&month=5&field=births&limit=3">Top states for births</a><br/>
            <a href="http://localhost:3000/api/complaints/states?year=2015&month=7&months=12&product=Payday+loan">Top ten states with Payday Loan Complaints</a><br/>
            <a href="http://localhost:3000/api/complaints/states?year=2015&month=7&months=12&company=Bank+of+America">Top ten states with Bank of Amer Complaints</a><br/>
            <a href="http://localhost:3000/api/complaints/products?year=2013&month=1&months=50&limit=10">Products with most complaints nationwide</a><br/>
        </div>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/fetch.js"></script>

    </body>
</html>