<header>
    <h1>Consumer Complaints and Census</h1>
    <div class='navbar'>
        <p><a href='/'>Home</a> | <a href='/census/add'>Import Census Data</a> | <a href='/census/add'>Import Complaints Data</a></p>
    </div>
</header>